body {
	background-color: #fff;
	padding:25px;
}

.thumbnail.vert-center {
	position: absolute;
	top:40%;
	left:50%;
	width: 400px;
	height:80px;
	margin-left:-200px;
	margin-top:-40px;
}
.center-text {
	text-align: center;
}
.btn.upload {
	margin-left:auto;
	margin-right: auto;
	padding-left:45px;
	padding-right:45px;
	font-size: 40px;
	position: relative;
	overflow: hidden;
}

.btn.upload input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	width:100%;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height:100%;
}